
inc/classes/widgets/LivePanels/index.php
inc/classes/widgets/LivePanels/assets/js/jquery-3.1.1.min.js
inc/classes/widgets/LivePanels/lc-data/flot_pessoas_hora.php
inc/classes/widgets/LivePanels/lc-data/lc-js_pessoas_hora.php
inc/classes/widgets/LivePanels/lc-data/pessoas.js
inc/classes/widgets/LivePanels/lc-loads/lc-load_itens.php
inc/classes/widgets/LivePanels/lc-loads/lc-load_notebooks.php
inc/classes/widgets/LivePanels/lc-loads/lc-load_pessoas_agora.php
inc/classes/widgets/LivePanels/lc-loads/lc-load_pessoas_ano.php
inc/classes/widgets/LivePanels/lc-loads/lc-load_pessoas_hora.php
inc/classes/widgets/LivePanels/lc-loads/lc-load_pessoas_mes.php
inc/classes/widgets/LivePanels/lc-loads/lc-load_salas.php
inc/classes/widgets/LivePanels/pessoas_na_biblioteca_lista.php
inc/classes/widgets/LivePanels/pessoas_na_biblioteca_simultaneos.php
inc/classes/widgets/LivePanels/pessoas_na_biblioteca_simultaneos_hora.php
inc/classes/widgets/LivePanels/salas_disponiveis.php
inc/classes/widgets/LivePanels/salas_disponiveis_2_3_6_8_pav.php
inc/classes/widgets/LivePanels/salas_disponiveis_2_3_6_pav.php
inc/classes/widgets/LivePanels/salas_disponiveis_2_3_pav.php
inc/classes/widgets/LivePanels/salasdeestudo2.php
inc/classes/widgets/LivePanels/situacao_atual_de_emprestimos.php
inc/classes/widgets/LivePanels_off/index.php
inc/classes/widgets/LivePanels/assets/js/refresh.js
inc/classes/widgets/LivePanels/index.php
inc/classes/widgets/LivePanels/index.php
